
/**
* -------------
* Global Styles
* -------------
*/

body {

  font-family: 'Poppins', sans-serif;
  font-size: 16px ;
  color: black;

  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  font-size: 88px;

   /* Default font, size, and margins */
}

h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

.header-title {
  margin: 8px 0px;
  padding: 15px;
  text-align: center;
  background-color: #fcce00bf;
  color: white;
  font-weight: 900;
  line-height: 1;
}

.header-subtitle {
  padding: 15px;
  margin: 8px 0px;
  font-size: 38px;
  text-align: center;
  background-color: #ff6b00bd;
  color: white;
  font-weight: 900;
  line-height: 1;
}

.mini-header-rouge {
height: 32px;
background-color: #e02020bc;
margin: 8px 0;
}

.mini-header-violet {
  height: 16px;
  background-color: #b620e0bd;
  margin: 8px 0;
}

.mini-header-bleu {
  height: 8px;
  background-color: #6236ffbd;
  margin: 8px 0;
}

.section-title {
  margin: 64px;
  font-size: 40px;
  color: #231f20;
  }

.article1-title {
  width: 640px;
  height: 33px;
  margin: 0 31px 34px 0;
  font-size: 24px;
  text-align: center;
}

.article1-text {
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 48px;
  font-size: 16px;
  text-align: justify;
}

.block {
 display: flex;
 justify-content: space-around;
 align-items: stretch;
  }

  .ordinateur-1 {
    width: 487px;
    height: 471px;
    object-fit: contain;
  }

  .ordi-1 {
    background-color: #fcce00bf;
    mix-blend-mode: darken;
    width: 720px;
    height: 512px;
    margin: 0 0 0 32px;
    background: linear-gradient(#fcce00bf, transparent);
  }

  .bouton-1 {
    width: 185px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    color: #fcce00bf;
    text-decoration: none;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  }




.article2-title {
 width: 654px;
  height: 66px;
  margin: 0 0 32px 32px;
  font-size: 24px;
  text-align: center;
}

.article2-text {
  width: 640px;
  height: 184px;
  margin: 32px 14px 32px 32px;
  font-size: 16px;
  text-align: justify;
}

.block2 {
 display: flex;
 justify-content: space-around;
 align-items: stretch;
 background: linear-gradient(#ff6b00bd, transparent);

  }

  .ordinateur-2 {
    width: 378px;
  height: 486px;
  object-fit: contain;
  }

  .ordi-2 {
    background-color: #ff6b00bd;
    mix-blend-mode: darken;
    width: 720px;
    height: 512px;
    margin: 0 0 0 32px;
    background: linear-gradient(#ff6b00bd, transparent);
  }

  .bouton-2 {
    width: 185px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    color: #ff6b00bd;
    text-decoration: none;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  }

  .features {
    width: 430px;
    height: 56px;
    margin: 64px 505px 64px 503px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    font-weight: bold;
    }

  .titre-fiche-1  {
    width: 640px;
    height: 45px;
    margin: 0 0 32px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
  }

  .text-fiche-1 {
    width: 640px;
    height: 184px;
    margin: 32px 14px 32px 32px;
    font-size: 22px;
    text-align: justify;
  }

  .bouton-fiche-1 {
    width: 185px;
    height: 45px;
    font-size: 20px;
  margin: 32px 455px 356px 60px;
  padding: 7px 24px 7px 23px;
  border-radius: 15px;
  border: solid 4px;
  }

  .produit-1 {
    width: 700px;
    height: 500px;
    margin: 17px 0 7px 693px;
    object-fit: contain;
    opacity: 0.9;
    mix-blend-mode: darken;
  }
  
  .image-produit {
    width: 1440px;
    height: 640px;
    background-color: #ff6b00bd;
    mix-blend-mode: darken;
    background: linear-gradient(#ff6b00bd, transparent);
  }
  .produit {
    
    justify-content: space-around; 
    align-items: stretch;
    text-align: left;
     }
  
/**
* ----------
* Components
* ----------
*/