
/**
* -------------
* Global Styles
* -------------
*/

body {

  font-family: 'Poppins', sans-serif;
  font-size: 16px ;
  color: black;

  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  font-size: 88px;

   /* Default font, size, and margins */
}

h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

.header-title {
  margin: 8px 0px;
  padding: 15px;
  text-align: center;
  background-color: #fcce00bf;
  color: white;
  font-weight: 900;
  line-height: 1;
}

.header-subtitle {
  padding: 15px;
  margin: 8px 0px;
  font-size: 38px;
  text-align: center;
  background-color: #ff6b00bd;
  color: white;
  font-weight: 900;
  line-height: 1;
}

.mini-header-rouge {
height: 32px;
background-color: #e02020bc;
margin: 8px 0;
}

.mini-header-violet {
  height: 16px;
  background-color: #b620e0bd;
  margin: 8px 0;
}

.mini-header-bleu {
  height: 8px;
  background-color: #6236ffbd;
  margin: 8px 0;
}

.section-title {
  margin: 64px;
  font-size: 40px;
  color: #231f20;
  }

.article1-title {
  width: 640px;
  height: 33px;
  margin: 0 31px 34px 0;
  font-size: 24px;
  text-align: center;
}

.article1-text {
  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 48px;
  font-size: 16px;
  text-align: justify;
}

.block {
 display: flex;
 justify-content: space-around;
 align-items: stretch;
  }

  .ordinateur-1 {
    width: 487px;
    height: 471px;
    object-fit: contain;
  }

  .ordi-1 {
    background-color: #fcce00bf;
    mix-blend-mode: darken;
    width: 720px;
    height: 512px;
    margin: 0 0 0 32px;
    background: linear-gradient(#fcce00bf, transparent);
  }

  .bouton-1 {
    width: 185px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    color: #fcce00bf;
    text-decoration: none;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  }




.article2-title {
 width: 654px;
  height: 66px;
  margin: 0 0 32px 32px;
  font-size: 24px;
  text-align: center;
}

.article2-text {
  width: 640px;
  height: 184px;
  margin: 32px 14px 32px 32px;
  margin-right: 60px;
  font-size: 16px;
  text-align: justify;
}

.block2 {
 display: flex;
 justify-content: space-around;
 align-items: stretch;
  }

  .ordinateur-2 {
    width: 378px;
  height: 486px;
  object-fit: contain;
  }

  .ordi-2 {
    background-color: #ff6b00bd;
    mix-blend-mode: darken;
    width: 720px;
    height: 512px;
    margin: 0 0 0 32px;
    background: linear-gradient(#ff6b00bd, transparent);
  }

  .bouton-2 {
    width: 185px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    color: #ff6b00bd;
    text-decoration: none;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  }

  .features {
    width: 430px;
    height: 56px;
    margin: 64px 505px 64px 503px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    font-weight: bold;
    }

  .titre-fiche-1  {
  margin-left: 34px;
    font-size: 32px;
    font-weight: 900;
    color: white;
  }

  .text-fiche-1 {
    margin: 40px 20px 40px 32px;
    font-size: 22px;
    color: white;
    
  }

  .bouton-fiche-1 {
    font-size: 20px;
  margin: 32px 400px 340px 30px;
  padding: 7px 24px 7px 23px;
  border-radius: 15px;
  border: solid 4px;
  color: white;
  text-decoration: none;
  }

  .produit-1 {
    object-fit: contain;
    opacity: 0.9;
    mix-blend-mode: darken;
    flex-basis: 340px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .produit {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color:#e02020;
    mix-blend-mode: darken;
    background: linear-gradient(#e02020, transparent);
     }

.titre-fiche-1  {
  margin-left: 34px;
    font-size: 32px;
    font-weight: 900;
    color: white;
  }

  .text-fiche-1 {
    margin: 40px 20px 40px 32px;
    font-size: 22px;
    color: white;
    
  }

  .bouton-fiche-1 {
    font-size: 20px;
  margin: 32px 400px 340px 30px;
  padding: 7px 24px 7px 23px;
  border-radius: 15px;
  border: solid 4px;
  color: white;
  text-decoration: none;
  }

  .produit-1 {
    object-fit: contain;
    opacity: 0.9;
    mix-blend-mode: darken;
    flex-basis: 340px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .produit {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #e02020;
    mix-blend-mode: darken;
    background: linear-gradient(#e02020, transparent);
     }

    


     .titre-fiche-2  {
      margin-left: 34px;
        font-size: 32px;
        font-weight: 900;
        color: white;
      }
    
      .text-fiche-2 {
        margin: 40px 20px 40px 32px;
        font-size: 22px;
        color: white;
        
      }
    
      .bouton-fiche-2 {
        font-size: 20px;
      margin: 32px 400px 340px 30px;
      padding: 7px 24px 7px 23px;
      border-radius: 15px;
      border: solid 4px;
      color: white;
      text-decoration: none;
      }
    
      .produit-2 {
        object-fit: contain;
        opacity: 0.9;
        mix-blend-mode: darken;
        flex-basis: 340px;
        flex-grow: 1;
        flex-shrink: 1;
      }
    
      .produit2 {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background-color: #b620e0;
        mix-blend-mode: darken;
        background: linear-gradient(#b620e0, transparent);
         }


     .titre-fiche-3  {
      margin-left: 34px;
        font-size: 32px;
        font-weight: 900;
        color: white;
      }
    
      .text-fiche-3 {
        margin: 40px 20px 40px 32px;
        font-size: 22px;
        color: white;
        
      }
    
      .bouton-fiche-3 {
        font-size: 20px;
      margin: 32px 400px 340px 30px;
      padding: 7px 24px 7px 23px;
      border-radius: 15px;
      border: solid 4px;
      color: white;
      text-decoration: none;
      }
    
      .produit-3 {
        object-fit: contain;
        opacity: 0.9;
        mix-blend-mode: darken;
        flex-basis: 340px;
        flex-grow: 1;
        flex-shrink: 1;
      }
    
      .produit3 {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background-color: #6236ff;
        mix-blend-mode: darken;
        background: linear-gradient(#6236ff, transparent);
         }


    .colonnes {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: column;
      display: grid;
      border: 3px solid #231f20;
      border-radius: 3px;
      padding: 10px;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 32px;
       }

    .cellule1 {
      flex-basis: 340px;
      flex-grow: 1;
      flex-shrink: 1;
      background-color: #231f20;
      color: white;
      border-radius: 3px;
      padding: 10px;
      margin: 5px;
      width: 320px;
      height: 320px;
       }

    .cellule2 {
      padding-left: 32px;
      padding-right: 32px;
      background-color: #231f20;
      color: white;
      border-radius: 3px;
      padding: 10px;
      margin: 5px;
           }

       .cellule3 {
        padding-left: 32px;
        padding-right: 32px;
        background-color: #231f20;
        color: white;
        border-radius: 3px;
        padding: 10px;
        margin: 5px;
         }

         .cellule4 {
          padding-left: 32px;
          padding-right: 32px;
          background-color: #231f20;
          color: white;
          border-radius: 3px;
          padding: 10px;
          margin: 5px;
       
           }

           .colonnes2 {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: column;
            display: grid;
            border: 3px solid #231f20;
            border-radius: 3px;
            padding: 10px;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 32px;
             }
      
          .cellule5 {
            flex-basis: 340px;
            flex-grow: 1;
            flex-shrink: 1;
            background-color: #231f20;
            color: white;
            border-radius: 3px;
            padding: 10px;
            margin: 5px;
            width: 320px;
            height: 320px;
             }
      
          .cellule6 {
            padding-left: 32px;
            padding-right: 32px;
            background-color: #231f20;
            color: white;
            border-radius: 3px;
            padding: 10px;
            margin: 5px;
                 }
      
             .cellule7 {
              padding-left: 32px;
              padding-right: 32px;
              background-color: #231f20;
              color: white;
              border-radius: 3px;
              padding: 10px;
              margin: 5px;
               }
      
               .cellule8 {
                padding-left: 32px;
                padding-right: 32px;
                background-color: #231f20;
                color: white;
                border-radius: 3px;
                padding: 10px;
                margin: 5px;
             
                 }

                 .colonnes3 {
                  display: flex;
                  justify-content: space-between;
                  align-items: stretch;
                  flex-direction: column;
                  display: grid;
                  border: 3px solid #231f20;
                  border-radius: 3px;
                  padding: 10px;
                  grid-template-columns: repeat(4,1fr);
                  grid-gap: 32px;
                   }
            
                .cellule9 {
                  flex-basis: 340px;
                  flex-grow: 1;
                  flex-shrink: 1;
                  background-color: #231f20;
                  color: white;
                  border-radius: 3px;
                  padding: 10px;
                  margin: 5px;
                  width: 320px;
                  height: 320px;
                   }
            
                .cellule10 {
                  padding-left: 32px;
                  padding-right: 32px;
                  background-color: #231f20;
                  color: white;
                  border-radius: 3px;
                  padding: 10px;
                  margin: 5px;
                       }
            
                   .cellule11 {
                    padding-left: 32px;
                    padding-right: 32px;
                    background-color: #231f20;
                    color: white;
                    border-radius: 3px;
                    padding: 10px;
                    margin: 5px;
                     }
            
                     .cellule12 {
                      padding-left: 32px;
                      padding-right: 32px;
                      background-color: #231f20;
                      color: white;
                      border-radius: 3px;
                       padding: 10px;
                        margin: 5px;
                   
                       }
                       
                      .galerie {
                      background-color: #231f20;
                      }

              .latest-releases{
                background-color: #231f20;
                color: white;
                }

                .contact {
                  background-color: #231f20;
                  color: white;
                  }
  
  
/**
* ----------
* Components
* ----------
*/
